@import "/src/sass/main";
.Note {
  width: 20rem;
  height: 10rem;
  border-radius: .5rem;
  color: $white-color;
  background-color: $dark-color-4;
  text-align: start;
  display: flex;
  align-items: flex-start;
  padding: 1rem .5rem;
  box-sizing: border-box;
  &__title {
    padding-top: 2rem;
    font-size: 1.1rem;
  }
  &__number {
    font-size: 7.8rem;
    align-self: center;
  }
}