@import "variables";
@mixin iconX {
  color: $white-color;
  font-size: 2.3rem;
  position: absolute;
  top: 3%;
  right: 3%;
}

@mixin second-title {
  font-size: 3rem;
  display: block;
  width: 100%;
  height: 10%;
  padding: .8rem;
  border-bottom: .2rem solid $white-color;
  color: $white-color;
  background-color: $dark-color-3;
  text-transform: uppercase;
  margin: 0;
  box-sizing: border-box;
}