//main dark colors
$dark-color-1: #00142c;
$dark-color-2: #092749;
$dark-color-3: #3370a1;
$dark-color-4: #78889b;
$dark-color-5: #6d6f71;
$dark-color-6: #9fc9d6;
//others
$white-color: #ffffff;
$black-color: #000000;
$light-green-color: #61d760;
$dark-green-color: #00802b;
$yellow-color: #F0E68C;
$orange-color: #ff8533;
$red-color: #B22222;