@import "../../sass/main";

.StorePage {
  background-color: $dark-color-3;
  width: 90%;
  height: 90%;
  margin-top: 1.5rem;
  color: $white-color;

  &__title {
@include second-title;
  }
}

.Supply {
  &__title {
    background-color: #6d6f71;
    margin: 0;
    padding: 1.5rem;
  }
}