@import "../../sass/main";
.Container {
  background-color: $dark-color-4;
  height: 70%;
  width: 40%;
  margin-top: 4rem;
  box-sizing: border-box;
  overflow: no-display;
  position: relative;
  &__title {
    @include second-title;
  }
  &__icon {
    @include iconX
  }
}