@import "/src/sass/main";

.StoreItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $dark-color-6;

  &:not(:last-child) {
    border-bottom: .1rem solid $white-color;
  }

  &--warn {
    background-color: $yellow-color;
    color: $black-color;
  }
  &--danger {
    background-color: $orange-color;
  }
  &--shortage {
    background-color: $red-color;
  }

  &__info {
    display: flex;
    align-items: center;
    width: 17%;
    margin-right: 2rem;
  }

  &__text {
    width: 35%;
  }

  &__input {
  }

  &__button {
    margin-left: .5rem;
  }
}