@import "../../sass/main";
.EditPrinterForm {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: inherit;

  &__label {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
    &:not(:last-child) {
      margin-top: 1rem;
    }
  }
  &__name {
    width: 3.5rem;
    font-size: 2rem;
    color: $white-color;
    text-align:left;
    margin-right: 5rem;
  }
  &__title {
    @include second-title;
  }
  &__input {

  }
  &__icon {
  @include iconX;
  }
  &__select {}
  &__button {
    margin-top: 2rem;
    font-size: 2rem;
    color: $white-color;
    background-color: $dark-color-6;
    outline: none;
    border: none;
    border-radius: .3rem;
    padding: .6rem;
    transition: all 100ms;
    &:hover {
      transform: translateY(-.2rem);
      box-shadow: 8px 10px 13px -11px $dark-color-5;
    }
    &:active {
      transform: translateY(-.2rem);
      box-shadow: 7px 1px 13px -11px $dark-color-5;
    }
  }
}
