.AddPrinter {
  color: #ffffff;
  background-color: #61d760;
  width: 6rem;
  height: 6rem;
  border-radius: 5%;
  padding: 1.5rem;
  position: fixed;
  bottom: 3%;
  right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 400ms;
  z-index: 55;
  &:hover {
    background-color: #489d47;
  }
  &:active {
    background-color: rgb(48, 101, 47);
  }
  &__icon {
    font-size: 6rem;
  }
  &__msg {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}