.Sidebar {
  height: 100vh;
  width: 300px;
  background-color: #61dafb;
  &__header {}
  &__title {}
  &__navigation {}
  &__list {}
  &__item {}
  &__link {
    &:link {}
    &:visited {}
    &:hover {}
    &:active {}
  }
}